---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 26ffb3d3c78112f3ce4a9bde6697344e
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-jtpc,haproxy-edge-pdx-uehx
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"U01CQMA06F2","team_id":"T01CQM3LG6L","name":"bak02013","deleted":false,"color":"4bbe2e","real_name":"Beauttie","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Beauttie","real_name_normalized":"Beauttie","display_name":"Beauttie","display_name_normalized":"Beauttie","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g51d0ec2dd94","image_24":"https:\/\/secure.gravatar.com\/avatar\/51d0ec2dd944e58eba412486ed4e2400.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/51d0ec2dd944e58eba412486ed4e2400.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/51d0ec2dd944e58eba412486ed4e2400.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/51d0ec2dd944e58eba412486ed4e2400.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/51d0ec2dd944e58eba412486ed4e2400.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/51d0ec2dd944e58eba412486ed4e2400.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-512.png","status_text_canonical":"","team":"T01CQM3LG6L"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":1601958823},{"id":"U01CQMN9XR6","team_id":"T01CQM3LG6L","name":"beauttie_api_project","deleted":false,"color":"e7392d","real_name":"Earth
        - Beauttie - API Project","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Earth
        - Beauttie - API Project","real_name_normalized":"Earth - Beauttie - API Project","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g55b958146df","api_app_id":"A01BL47ENLX","always_active":false,"bot_id":"B01BU4SJZT8","first_name":"Earth","last_name":"-
        Beauttie - API Project","image_24":"https:\/\/secure.gravatar.com\/avatar\/55b958146dffe9b57f5f4ee786e5b408.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/55b958146dffe9b57f5f4ee786e5b408.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/55b958146dffe9b57f5f4ee786e5b408.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/55b958146dffe9b57f5f4ee786e5b408.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/55b958146dffe9b57f5f4ee786e5b408.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/55b958146dffe9b57f5f4ee786e5b408.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0005-512.png","status_text_canonical":"","team":"T01CQM3LG6L"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":true,"is_app_user":false,"updated":1601961016}],"cache_ts":1602138624,"response_metadata":{"next_cursor":""}}'
  recorded_at: Thu, 08 Oct 2020 06:30:24 GMT
recorded_with: VCR 6.0.0
