---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - c5f7e044380cb70134e01fae37fa0d39
      X-Oauth-Scopes:
      - identify,channels:read,groups:read,im:read,mpim:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-y70x,haproxy-edge-iad-t0k4
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01BTQN36CF","name":"sos","is_channel":true,"is_group":false,"is_im":false,"created":1602182145,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"sos","is_shared":false,"parent_conversation":null,"creator":"U01CQMA06F2","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01CQM3LG6L"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"help
        me","creator":"U01CQMA06F2","last_set":1602182189},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":2},{"id":"C01C0RQN3H8","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1601958469,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U01C12E4CF5","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01CQM3LG6L"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Accepted-Oauth-Scopes:
      - conversations:read
      X-Slack-Req-Id:
      - 55bd84baa387ec8373aa2f6bd10cb87d
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-572o,haproxy-edge-iad-w3jt
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Fri, 09 Oct 2020 04:55:52 GMT
recorded_with: VCR 6.0.0
