---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 8aa7f5c2ec8a1332441489ded9f00847
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,groups:read,im:read,mpim:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-9rc7,haproxy-edge-iad-jeyo
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T01CQM3LG6L","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T01CQM3LG6L"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"U01BU4T45M4","team_id":"T01CQM3LG6L","name":"eartholgaslackcli","deleted":false,"color":"3c989f","real_name":"Earth-Olga-SlackCLI","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Earth-Olga-SlackCLI","real_name_normalized":"Earth-Olga-SlackCLI","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"gbab7602ab3d","api_app_id":"A01C72A3R60","always_active":false,"bot_id":"B01CDFD9RED","image_24":"https:\/\/secure.gravatar.com\/avatar\/bab7602ab3d9731903ea0f8322150e35.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0022-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/bab7602ab3d9731903ea0f8322150e35.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0022-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/bab7602ab3d9731903ea0f8322150e35.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatar[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_BOT_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - ddf5673a91964e9043a12f5585e12af5
      X-Oauth-Scopes:
      - chat:write,channels:read,users:read,groups:read,im:read,mpim:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-1obv,haproxy-edge-iad-788y
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01C0RQN3H8","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1601958469,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U01C12E4CF5","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01CQM3LG6L"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        is the one channel that will always include everyone. It\u2019s a great spot
        for announcements and team-wide conversations.","creator":"U01C12E4CF5","last_set":1601958469},"previous_names":[],"num_members":2},{"id":"C01CQM3LQ5N","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1601958469,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01C12E4CF5","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01CQM3LG6L"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":false,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":[...]
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 96df28e6db0f8c6d36534794e242ac18
      X-Oauth-Scopes:
      - identify,channels:read,groups:read,im:read,mpim:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-jtpc,haproxy-edge-i[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 9874cd9fbab071835f279b5fed3b88ff
      X-Oauth-Scopes:
      - identify,channels:read,groups:read,im:read,mpim:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,m[...]
